.wrapper{
    background: #19598A;
    display: flex;
    justify-content: center;
    margin-left: -8px;
    height: 85px;
    width: 100%;
    margin-bottom: 20px;
}

.header-text > p{
    margin-left: 85px;
}

.serv{
    text-decoration: underline;
}

.header-text{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    font-family: Poppins;
}

.header-logo{
    color: white;
    display: flex;
    justify-content: center;
}

.dovee{
    margin-top: 30px;
    position: relative;
    bottom: 15px;
    right: 100px;
}

.everp{
    color: rgb(255, 255, 255);
    font-family: Barokah Serif;
    font-size: 40px;
    right: 80px;
    position: relative;
    bottom: 25px;
}

.wrapper-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo{
    width: 100%;
    margin-right: 15px;
    position: relative;
    bottom: 20px;
    height: 340px;
}

.wrapper-2 > p{
    font-size: 128px;
    font-family: Buttershine Serif;
    margin-right: 20px;
    position: relative;
    bottom: 400px;
    color: white;
}

.wrapper-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tradb{
    font-family: Barokah Serif;
    color: #6C3845;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    bottom: 400px;
    position: relative;
}

.desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Barokah Serif;
    font-size: 32px;
    position: relative; 
    bottom: 350px;
}

.includes{
    margin: 0;
    position: relative;
    justify-content: center;  
}

.option{
    text-align: center;
    margin: 0;
    font-family: Barokah Serif;
    position: relative;
    font-size: 32px;
}

.package{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 250px;
}

.pk{
    font-size: 64px;
    font-family: Barokah Serif;
    position: relative;
    bottom: 200px;
    color: white;
}

.cas{
    font-size: 96px;
    font-family: Barokah Serif;
    position: relative;
    margin-right: 100px;
    color: black;
    display: flex;
    justify-content: center;
    bottom: 370px;
}

.ck-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    row-gap: 60px;
    column-gap: 30px;
    justify-content: center;
    position: relative;
    bottom: 250px;

}

.ck-1 , .ck-2, .ck-3, .ck-4, .ck-5, .ck-6, .ck-7, .ck-8, .ck-9{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: #EEEDEB;
    border-radius: 15px;
    width: 412px;
    height: 435px;
}

.ckpic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentt{
      font-family: Poppins;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.title1{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.title2{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    position: relative;
    bottom: 40px;
}

.pricee{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    position: relative;
    bottom: 30px;
}

.price{
    font-size: 24px;
    font-weight: 700;
    
}

.inquire{
    font-family: Poppins;
    border-style: none;
    background: #003366;
    color: #E6E6FA;
    font-weight: 700;
    font-size: 24px;
    width: 343px;
    height: 40px;
    border-radius: 5px;
}

.inquire2{
    font-family: Poppins;
    border-style: none;
    background: #003366;
    color: #E6E6FA;
    font-weight: 700;
    font-size: 24px;
    width: 343px;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
}

.wrapper-5{
    background-color:#003366;
    width: 100%;
    height: 416px;
    margin-left: -8px;
    bottom: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}
.footer-logo{
    color: white;
    margin-left:100px;
    top: 50px;
    display: flex;
}

.dove{
    margin-top: 40px;
}

.ever{
    font-family: Barokah Serif;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: -40px;
}

.socials{
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
}

.socials1{
     padding-right: 10px;
}

.upper{
    font-family: Poppins;
    font-size: 30px;
    color: white;
    font-weight: 600;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
}

.upper1{
    margin: 0;
    margin-top: 50px;
}

.upper2{
    margin: 0;
    margin-left: -10px;
}

.first-column{
    display: flex;
    flex-direction: column;
}

.second-column{
    font-family: Poppins;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.ser{
    margin: 0;
    font-size: 24px;
    margin-top: 50px;
    font-weight: 550;
}

.serr{
    margin:0;
    margin-top: 20px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.ser2{
    margin-top:10px;
    font-size: 18px;
    margin:0;
    color: rgba(255, 255, 255, 0.8);
}


.ser1{
    margin-top:10px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
}

.ser3{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 15px;
}

.second-column{
    font-family: Poppins;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.third-column{
    font-family: Poppins;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}

.life{
    margin: 0;
    font-size: 24px;
    margin-top: 50px;
    font-weight: 550;
}

.plans{
    margin:0;
    margin-top: 20px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.plan{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin:0;
}

.grief{
    margin: 0;
    font-size: 24px;
    margin-top: 30px;
    font-weight: 550;
}

.about{
    margin: 0;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 550;
}

.con{
    margin: 0;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 550;
}

.fourth-column{
    font-family: Poppins;
    color: white;
    display: flex;
    flex-direction: column;
}

.year{
    margin: 0;
    font-size: 30px;
    margin-top: 40px;
    font-weight: 550;
    margin-left: 140px;
}

.signup{
    margin:0;
    margin-top: 20px;
    font-size: 22px;
    color: white;
    margin-left: 120px;
}
.sign{
    text-align: center;
    font-size: 22px;
    color: white;
    margin: 0;
    margin-left: 120px;
}

.email{
     margin-left: 120px;
     font-size: 16px;
     color: rgba(255, 255, 255, 0.8);
}

.submit{
    border-style: solid;
    border-color: #E6E6FA;
    background-color: #003366;
    color: white;
    width: 377px;
    height: 57px;
    margin-top: 20px;
    margin-left:123px;
}

.wrapper-5-txt{
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-bottom: 20px;
}